<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="standard">
    <mat-label>Enter your email</mat-label>
    <input matInput formControlName="email" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint *ngIf="email.invalid && email.touched">
      <div *ngIf="email.errors?.['email']">Not a valid email address.</div>
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hideA ? 'password' : 'text'"
      formControlName="password"
    />
    <mat-icon matSuffix (click)="hideA = !hideA">{{
      hideA ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-hint *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors?.['minlength']">
        Must be at least {{ pwMinLength }} characters long.
      </div>
      <div
        *ngIf="password.errors?.['pattern'] && !password.errors?.['minlength']"
      >
        Must contain at least a letter and a number
      </div>
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm your password</mat-label>
    <input
      matInput
      [type]="hideB ? 'password' : 'text'"
      formControlName="confirmPassword"
    />
    <mat-icon matSuffix (click)="hideB = !hideB">{{
      hideB ? "visibility_off" : "visibility"
    }}</mat-icon
    ><mat-hint *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors?.['minlength']">
        Must be at least {{ pwMinLength }} characters long.
      </div>
      <div
        *ngIf="password.errors?.['pattern'] && !password.errors?.['minlength']"
      >
        Must contain at least a letter and a number
      </div>
    </mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary">Sign up</button>
</form>
